.blog-post {
    margin-bottom: 30px;
    background-color:#f8f9fa;
    border-radius: 0.35rem;
    padding-left: 10px;
    padding-right: 10px;
}

.form {
    margin-bottom: 10px;
}

.post-manipulation {
    float: right;
}

.btn {
    margin-top: 5px;
    margin-bottom: 3px;
}

#comment__container {
    width: 80%;
    background-color: #c2c2c288;
    border-radius: 5px;
    margin-bottom: 8px;
}